# Ignore swp
.README.md.swp

# Ignore virtual environment stuff
server/venv/
plc/test.py

# Ignore client_Ubuntu
client_Ubuntu/

# Ignore pychaches
server/__pycache__/
client_RPi/__pycache__/
client_Ubuntu/__pycache__/

# Ignore pyc
client_RPi/mes_api.pyc
client_Ubuntu/mes_api.pyc